<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <input type="text" name="category" placeholder="category" />
      <input type="text" name="price" placeholder="price" />
      <input type="text" name="amount" placeholder="amount" />
      <button type="submit">create expense</button>
    </form>

    <script src="/js/createExpense.js"></script>
  </body>
</html>
